:root { --claro-cor:#222; --claro-fundo:#fff; --claro-forte:#006400; --escuro-cor:#eee; --escuro-fundo:#111; --escuro-forte:#00c000 }

@font-face { font-family:'Inter'; font-style:normal; font-weight:700; src:url('/0/inter.woff2') format('woff2'); font-display:swap }

body { font-size:1.1em; font-family:sans-serif; line-height:1.7; margin: 0 auto; max-width:30em; color:var(--claro-cor); background-color:var(--claro-fundo) }

header { display:flex; margin: 1.5em 0; font-size:.875em }
header span small { float:left; display:block; transform:rotate(-90deg); font-size:.65em; margin: .5em 0 0 }
header img { margin:0 1em 0 0; width:160px; height:120px; border:0 }

article { margin:1em auto; max-width:30em }

footer { margin:3em 0 0; padding:1.5em 1.5em 1em; max-width:30em; background-color:var(--claro-forte); color:var(--claro-fundo) }
footer img { filter:grayscale(1) brightness(3) }

a, a:visited { color:var(--claro-forte) }
a:hover { text-decoration:none }

h1 { font-size:3.75em; line-height:1; font-family:'Inter'; font-weight:700; letter-spacing:-0.03em; margin:.5em 0 }

h2 { font-size:1.25em; line-height:1.5; font-weight:400; letter-spacing:-0.02em; border-left:.3em solid var(--claro-forte); padding-left:1em; margin:1.5em 0 }

h3 { margin-top:3em; line-height:1 }

ul li { list-style-type:square }

blockquote { font-weight:700 }

table { border-collapse:collapse; margin:3em auto; font-size:.91em }
table caption strong:first-child { display:block }
thead { border-bottom:.3em solid }
td { border-bottom:.1em solid; padding:1em .5em 1em 0; text-align:center; line-height:1; vertical-align:top }
td:first-child { text-align:left }
td:last-child { padding:1em 0 }
tfoot td { border-bottom:0; border-top:.3em solid; }

aside { float:right; font-size:.91em; border-left:solid .4em var(--claro-forte); padding:0 0 0 1.5em; margin: .5em 0 1.5em 1.5em; width:calc(50% - 2 * 2em); line-height:1.7
}
aside p { margin:0 }

input { font-family:inherit; font-size:1em; width:3em; text-align:right; border-width:0 0 .2em; background:none; color:inherit; outline:none; border-bottom-color:var(--claro-forte) }

.logo { height:1.5em; fill:var(--claro-forte) }

footer .logo { fill:var(--claro-fundo) }

.analista { font-size:.91em; border-left:solid .4em var(--claro-forte); padding:0 0 0 1.5em; margin-top:2em }

.cap:first-letter { float:left; line-height:.6; font-size:3.75em; font-family: 'Inter'; font-weight:700; padding-top:.15em; margin-right:.1em }

.tranca { background-color:var(--claro-forte); padding:.2em .25em; color:var(--claro-fundo); margin-left:.25em; font-weight:700; font-size:.91em }
.tranca:before { content: 'Λ' }

.partilha { margin-top:3em; display:flex; align-items:center }
a.soc svg { fill:var(--claro-forte); height:1.5em; width:1.5em; padding:.2em; margin-left:.4em; border-radius:50%; border:solid .2em var(--claro-forte) }
a.soc svg:hover { fill:var(--claro-fundo); background-color:var(--claro-forte) } 

@media (min-width: 800px) {
	body { max-width: calc(34em + 160px) }
	header { float:left; width:160px; text-align:right; flex-direction:column; margin:16em 0 0 }
	header span small { float:right; transform:none }
	article { margin:1em 0 1em calc(160px + 4em) }
	footer { max-width:calc(34em + 160px) }
}

@media print {
	header, footer { display:none }
	article { margin:0; max-width:none }
	.partilha { display:none }
}

@media (prefers-color-scheme: dark) {
	body { background-color:var(--escuro-fundo); color:var(--escuro-cor) }

	h2 { border-left: .3em solid var(--escuro-forte) }

	a, a:visited { color:#00c000 }

	aside, .analista { border-left:solid .4em var(--escuro-forte) }

	input { border-bottom-color:var(--escuro-forte) }

	.logo { fill:var(--escuro-forte) }

	.tranca { background-color:var(--escuro-forte); color:var(--escuro-fundo) }

	a.soc svg { fill:var(--escuro-forte); border-color:var(--escuro-forte) }
	a.soc svg:hover { fill:var(--escuro-fundo); background-color:var(--escuro-forte) } 
}
